receivers:
  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

exporters:
  # prometheus:
  #   endpoint: "0.0.0.0:8889"
  #   namespace: "owl"

  otlphttp/victoriametrics:
    endpoint: http://vmagent:8429/opentelemetry
    compression: gzip
    encoding: proto

  clickhouse:
    endpoint: http://clickhouse:8123?dial_timeout=10s&compress=lz4&async_insert=1
    ttl: 24h
    database: jamaibase_owl
    traces_table_name: owl_traces
    username: owluser
    password: owlpassword
    create_schema: false
    timeout: 5s
    sending_queue:
      queue_size: 1000
    retry_on_failure:
      enabled: true
      initial_interval: 5s
      max_interval: 30s
      max_elapsed_time: 300s

  debug:
    verbosity: detailed

  otlphttp:
    logs_endpoint: http://victorialogs:9428/insert/opentelemetry/v1/logs

processors:
  batch:
    timeout: 5s

  filter/ottl:
    traces:
      span:
        - 'IsMatch(attributes["db.statement"], "^PRAGMA")'

extensions:
  health_check:
    endpoint: "0.0.0.0:13133"

service:
  extensions: [health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [filter/ottl, batch]
      exporters: [clickhouse]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/victoriametrics]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp]
