name: CD - Build and Push Docker Images

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  build_and_push:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Prepare HCL file
        run: |
          # Convert repository owner to lowercase
          REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')

          # Get short SHA
          SHORT_SHA=$(echo ${{ github.sha }} | cut -c1-7)

          # Replace variables in HCL file
          sed -i "s|AZURE_STORAGE_ACCOUNT_URL|${{ secrets.AZURE_STORAGE_ACCOUNT_URL }}|g" docker/compose.bake.hcl
          sed -i "s|AZURE_STORAGE_ACCESS_KEY|${{ secrets.AZURE_STORAGE_ACCESS_KEY }}|g" docker/compose.bake.hcl

          # Add tags to HCL file
          sed -i "/target \"owl\"/a \  tags = [\"ghcr.io/${REPO_OWNER}/jamaibase-owl:latest\", \"ghcr.io/${REPO_OWNER}/jamaibase-owl:${SHORT_SHA}\"]" docker/compose.bake.hcl
          sed -i "/target \"jambu\"/a \  tags = [\"ghcr.io/${REPO_OWNER}/jamaibase-jambu:latest\", \"ghcr.io/${REPO_OWNER}/jamaibase-jambu:${SHORT_SHA}\"]" docker/compose.bake.hcl

      - name: Build and Push Images
        run: |
          # Build and push JamaiBase image with both latest and commit hash
          docker buildx bake --file docker/compose.bake.hcl --push
