name: Linting Workflow

on:
  push:
    branches:
      - "*"

jobs:
  python_lint:
    name: Python linting and formatting checks
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install linting libraries
        run: |
          cd clients/python
          python3 -m pip install .[lint]

      - name: Check Python files using Ruff
        run: |
          ruff check --output-format github --config clients/python/pyproject.toml .
          ruff format --diff --config clients/python/pyproject.toml .

  prettier_lint:
    name: Prettier Checks
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 24

      - name: Check files using Prettier
        run: npx prettier@3.3.2 --check .
